@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #253341;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #253341 inset;
  box-shadow: 0 0 0px 1000px #253341 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}

html.dark{
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #253341;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #253341 inset;
    box-shadow: 0 0 0px 1000px #253341 inset;
    transition: background-color 5000s ease-in-out 0s;
    color: white;
  }
}

.heading-xl {
  @apply text-xl font-bold leading-[30px] md:text-2xl;
}

.heading-l {
  @apply text-[14px] font-bold leading-[23px] md:text-[18px];
}

.heading-m {
  @apply text-[12px] font-bold leading-[19px] md:text-[15px];
}

.heading-s {
  @apply text-[10px] font-bold leading-[15px] md:text-xs;
}

.body-l {
  @apply text-xs font-medium leading-[23px] md:text-[13px];
}

.body-m {
  @apply text-[10px] font-bold leading-[15px] md:text-[12px];
}

.switch span {
  background-color: white !important;
}

.purple-filter {
  filter: brightness(0) saturate(100%) invert(41%) sepia(44%) saturate(839%)
    hue-rotate(203deg) brightness(89%) contrast(90%);
}

button.absolute.right-4 {
  display: none;
}


.custom-scroll{
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px 20px transparent;
    border: solid 6px transparent;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    box-shadow: inset 0 0 20px 20px #635fc7;
    border: solid 6px transparent;
  }
}